#create-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 55vh;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-input {
    width: 20vw;
    height: 4vh;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

#create-button {
    width: 15vw;
    height: 6vh;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    background-color: #77E3EF;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}

#box-title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    padding-bottom: 0px;
}

#details {
    font-family: 'Hind', sans-serif;
    color: '#949EA8';
    padding-top: 0px;
}

#header {
    width: 100vW;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#close-button {
    margin: 20px;
    width: 150px;
    height: 30px;
    border-radius: 45px;
}

#button-title {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    transform: translateY(-30px);
}

@media (max-width: 1000px) {

    #box-title {
        font-size: 4em;
    }

    #details {
        font-size: 2em;
    }

    #create-box {
        width: 80vw;
        height: 90vh;
        justify-content: space-between;
    }

    .create-input {
        width: 70vw;
        height: 4vh;
        font-size: 3em;
    }

    #create-button {
        width: 70vw;
        font-size: 30px;
        margin-bottom: 20px;
    }
}