#events-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    height: 60vh;
    justify-content: center;
}


@media (max-width: 1000px) {
    #events-box {

        width: 95vw;
    }
}