#event-box {
    width: 24vw;
    height: 25vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#event-button {
    background-color: #77E3EF;
    width: 100px;
    height: 32px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

#bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#attendees-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
}

#person {
    width: 15px;
    height: 15px;
    padding: 5px;
}

/* List View Styling */
#active-event-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    height: 10vh;
    margin-bottom: 10px;
    margin-top: 10px;
}

#active-event-box>* {
    display: inline-block;
}

#active-title {
    position: relative;
    margin-left: 25px;
    order: 1;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

#active-bottom-row {
    order: 5;
}

#active-bottom-row>* {
    display: inline-block;
}

#active-attendees-box>* {
    display: inline-block;
}

#active-event-button {
    margin-right: 30px;
    margin-left: 30px;
    background-color: #77E3EF;
    width: 100px;
    height: 32px;
    border: 0px;
    border-radius: 5px;
    order: 6;
}

#active-person {
    display: none;
}

#active-startsAt {
    order: 4;
}

#active-author {
    display: none;
}

#active-description {
    order: 2;
}

#active-author-on {
    order: 3;
    padding-right: 30px;
}

#active-author-off {
    display: none;
}

/* Bottle in differnt ownership status */
.EDIT {
    background-color: #c9ced3 !important;
}

.LEAVE {
    background-color: #111936 !important;
    color: white;
}


/* Had to create a secondary author elemnt because the old one didn't react to the
    order attribute because it was moved into a div with title */



@media (max-width: 1000px) {
    #event-box {
        width: 75vw;
        height: 35vh;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 5px;
        padding: 15px;
        justify-content: space-around;
    }

    #title {
        font-size: 1.5em;
        font-weight: bold;
        color: black;
        padding: 0;
        margin-bottom: 0;
    }

    #startsAt {
        font-size: 15px;
    }

    #title-box {
        display: block;
        padding: 0;
    }

    #description {
        font-size: 1em;
    }

    #author {
        margin-top: 0;
        padding: 0;
        font-size: 1em;
    }

    #event-button {

        width: 20vw;
        height: 4vh;
        font-weight: 600;
    }

    #person {
        width: 13px;
        height: 13px;
        padding: 5px;
    }

    #attendees {
        font-size: 1em;
    }

    #attendees-box {
        width: 200px;
        display: flex;
        justify-content: left;
    }

    /* Styling for listing view (active) */

    #active-event-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        position: relative;
        height: 18vh;
    }

    #active-title {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        padding: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-top: 10px;
    }

    #active-description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px;
        margin-left: 10px;
    }

    #active-event-button {
        position: absolute;
        bottom: 10px;
        right: 0px;
        margin-right: 10px;
    }

    #active-attendees-box {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    #attendees {
        font-size: 0.9em;
    }

    #active-startsAt {
        position: absolute;
        left: 10px;
        bottom: 30px;
        font-size: 0.9em;
        color: "#CACDD0";
    }

    #active-description {
        float: left;
    }

    #active-author {
        display: none;
    }

    #active-author-on {
        display: none;
    }

    #active-author-off {
        display: none;
    }

    /* Bottle in differnt ownership status */

}