#refresh-button {
    width: 15vw;
    height: 6vh;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    color: white;
    background-color: #111936;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}

#error-page {
    display: flex;
    flex-direction: row;
}

#creditImg {
    height: 100vh;
    width: 25vw;
    z-index: 1;
}

#error-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    color: #111936;
    font-family: 'Hind', sans-serif;

}

p {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: #949EA8;
    font-size: 18px;
    margin: 0;
    padding: 0px;
}

#text-box {
    width: 40vw;

}

#cloneImg {
    position: absolute;
    width: 446px;
    height: 433px;
    left: 341px;
    top: 296px;
    z-index: 0;
}