@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

#creditImg {
    height: 100vh;
    width: 25vw;
}

#signupPage {
    font-family: 'Hind', sans-serif;
    display: flex;
}

#signupSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
}

input {
    width: 30vw;
    height: 4vh;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

#signup-button {
    width: 15vw;
    height: 6vh;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    background-color: #77E3EF;
    font-family: 'Hind', sans-serif;
    font-weight: bold;

}

#login-link {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

#signup-form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.err {
    color: #2D0DEF;
}

/* MOBILE STYLING */
@media (max-width: 1000px) {
    #creditImg {
        display: none;
    }

    #signupSection {
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    input {
        width: 90vw;
        height: 2.5em;
        margin: 20px;
        background-color: hsl(240, 20%, 98%);
    }

    #signup-link {
        position: initial;
        top: 10px;
        right: 10px;
        text-decoration: none;
    }

    #signup-form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #signup-button {
        width: 70vw;
        height: 3.5em;
    }

    #login-link {
        position: initial;
        text-decoration: none;
    }
}